{% extends "bookfocusing/layout.html" %}
{% block content %}
<div>
    {% for need in needs %}
        <div class="card p-1 m-3">
            <div class="card-body">

            <p class="card-text">{{ need.title }}</p>
            <p class="card-text">{{ need.shelf}}</p>
            <p class="card-text">{{ need.block}}</p>
            <p class="card-text">{{ need.writer}}</p>
            <p class="card-text">{{ need.loan}}</p>

            <a href="" class="btn btn-outline-info btn-sm">찾기</a>    

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

